.forgot-container {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5%;
   padding: 2em 0;
}

@media screen and (max-width: 1000px) {
   .forgot-container {
      flex-direction: column;
   }
}

.forgotform-container {
   width: 30%;
   height: 80%;
   /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
   padding: 1em;
   margin: 9% 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2em;
}

@media screen and (max-width: 1000px) {
   .forgotform-container {
      width: 80%;
   }
}

.forgotform-container .signup-title {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   gap: 1em;
   width: 100%;
   font-family: Poppins, sans-serif;
}

.forgotform-container .signup-title h1 {
   font-size: 2em;
   font-weight: 600;
   color: var(--blue-dark);
}

.forgotform-container .signup-title button {
   width: 70%;
   font-size: 1em;
   font-weight: 600;
   color: #000000;
   background-color: transparent;
   border: none;
   outline: none;
   padding: 0.7em 1em;
   border-radius: 0.25em;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

   display: flex;
   align-items: center;
   justify-content: center;
}

.forgotform-container form {
   box-sizing: border-box;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}

.forgotform-container .fields {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}

.forgotform-container .fields .field {
   width: 100%;
   margin: 0.5em 0;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.forgotform-container .fields .field label {
   font-size: 1em;
   font-weight: 600;
   margin-bottom: 0.5em;
}

.forgotform-container .fields .field input {
   box-sizing: border-box;
   width: 100%;
   font-size: 1em;
   font-weight: 600;
   padding: 1em 1em;
   border: none;
   border-radius: 0.25em;
   outline: none;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   transition: all 0.3s ease-in-out;
}

.forgotform-container .fields .field input:focus {
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.forgotform-container .fields .field input::placeholder {
   font-size: 1em;
   font-weight: 600;
}

.forgotform-container .actions {
   width: 100%;
   margin: 1em 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.forgotform-container .actions button {
   width: 100%;
   font-size: 1em;
   font-weight: 600;
   color: #fff;
   background-color: var(--blue-dark);
   border: none;
   outline: none;
   padding: 0.7em 1em;
   border-radius: 0.25em;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.forgotform-container .actions button:hover {
   background-color: #000000;
}

.forgotform-container .actions span {
   font-size: 1em;
   font-weight: 600;
   margin: 0.5em 0;
}

.forgotform-container .actions span a {
   font-size: 1em;
   font-weight: 600;
   color: var(--blue-light);
   text-decoration: none;
}

.forgotform-container .actions span a:hover {
   text-decoration: underline;
}

@media (max-width: 768px) {
   .form-container {
      width: 80%;
   }

   .form-container .partition span {
      font-size: 0.8em;
   }
}